{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Prima Excel Automation</title>
    <link rel="stylesheet" href="{% static 'Fayyaz_Prima_Excel_Automate/css/upload_dark.css' %}">
</head>
<body>

<div class="card">
    <h2>📊 Prima Excel Automation</h2>
    <p class="subtitle">Upload CSV or Excel</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">🚀 Process File</button>
    </form>

    <div class="footer-link">
        <a href="/history/">📁 View History</a>
    </div>
</div>

</body>
</html>
